.assets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin: auto;
    gap: 20px;
    align-items: center;
}

.asset__card{
  width: 250px;
  background-color: #121212;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:  0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}

.asset__card img{
  width: 100%;
  height: auto;
}

.tilt-content {
  padding: 1rem;
}

.tilt-content h2{
  font-size: 22px;
  margin-bottom: .5rem;
}

.tilt-content p{
  color: rgb(180, 180, 180);
  font-size: 15px;
  line-height: 1.3;
  max-height: 150px; /* Set your desired max height */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tilt-content button{
  display: inline-block;
  margin-top: 1rem;
  width: 8rem;
  padding: 8px 8px;
  cursor: pointer;
  background: linear-gradient(89.97deg, #AEFE14 10%, #27AA80 90%);
  color: #444654;
  border: none;
  border-radius: 2rem;
  font-weight: 500;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
 
}

