.section__padding{
    padding: 4rem 6rem;
}

.footer{
    background-color: #121212;
    position: relative;
    width: 100%;
    scroll-snap-align: center;
    
}

.novavr__footer{
    display: flex;
    flex-direction: column;
    
}

.novavr__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.novavr__footer-links-div{
    width: 270px;
    margin: 0rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

.novavr__footer-links-div img{
    width: 100%
}

.novaLogo {

    width: 128px; 
    height: 128px; 

  }

a.image-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Add other styles as needed */
    color: rgb(175, 175, 179);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.8rem;
    cursor: pointer;
    justify-content: space-between;

  }

  a.image-link img {
    max-width: 100px; /* Adjust the maximum width as needed */
    margin-right: 10px; /* Add margin between image and text */
    /* Add other image styles as needed */
  }

a .text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.8rem;
    cursor: pointer;
    margin-left: 8px;
    text-align: justify;
  }

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.contact img{
    width: 30%;
}

.socialmedias{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}



.socialmedias img{
    width:40%;
    
}

.socialmedia {
    display: flex;
    flex-direction: row;
    
}

.novavr__footer-links-div h4{
    font-size: 14px;
    line-height: 2rem;
    margin-bottom: 0.9rem;
    text-align: center;
}

.novavr__footer-links-div p{
    
}

.novavr__footer-below{
    margin-top: 0.2rem;
}

.novavr__footer-below-links {
    display: flex;
    flex-direction: row;
}

.novavr__footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

hr{
    height: 8px; /* Adjust as needed */
    border: none;
    margin: 10px 0; /* Adjust margin as needed */
  
    /* Apply the gradient background directly to the hr element */
    background: linear-gradient(89.97deg, #AEFE14 10%, #27AA80 90%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.novavr__footer-copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*center*/
}

.novavr__footer-copyright p{
    font-size: 12px;
    line-height: 15px;
    color: white;
    font-weight: 300;
    margin: 1rem;
    
}



@media screen and (max-width: 850px) {

    .footer{
        scroll-snap-align: unset;
    }

    .novavr__footer-links div{
        margin: 1rem 0;
    }

    .novavr__footer-below {
        flex-direction: column;
        justify-content: left;
    }

    .novavr__footer-below-links{
        flex-direction: column;
    }

    .novavr__footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }

   
}
